<template>
        <form>
                      
<link href="../../resources/css/styles.css"  type="stylesheet"  > 
<div item-width="60%">
        <span><i click.trigger="back()" class="fa fa-arrow-left fa-lg fa-4x" 	aria-hidden="true"></i></span>
    <h1 style="font-family: palatino;color:rgb(28, 24, 43); text-align:center;"><b><i> Photos!! </i></b></h1>    
           
</div>

<div class="container">
        <!-- <a href="" class="text-muted" click.trigger="back()" style="color:rgb(20, 13, 19);font-family: Times New Roman;font-size:180%;"><b>Click me to go Back..</b></a>     -->
        <!-- <h1 style="font-family: Times New Roman;color:rgb(86, 43, 204); text-align:center;"><b><i>Photos!!</i></b></h1> -->
<div class="card topMargin">
<div class="row">
<span class="col">
             <!-- <span><i click.trigger="backPhotos()" class="fa fa-arrow-left fa-lg" aria-hidden="true"></i></span> -->
                    <span class="rightMargin pull-right"><button type="button"   click.trigger="logout()" style="font-family:palatino;border-radius:6px;width:160px;height:40px;border:solid 2px;font-size:140%"><b><i>Logout</i></b></button></span>
 <span class="leftMargin pull-left"><button type="button"   click.trigger="createPhotos()" style="font-family:palatino;border-radius:6px;width:160px;height:40px;border:solid 2px;font-size:140%"><b><i>Add Photo</i></b></button></span>
</span>
</div>
<div show.bind="mygalleries.mygalleryArray.length">
        <table class="table">
                <!-- <thead>
                    <tr>
                        <br>
                        <th style="font-family: Times New Roman;color:rgb(86, 43, 204); text-align:center;font-size:120%">Photos</th> 
                        
                        
                    </tr>
                </thead> -->
                <tbody>
                    <tr repeat.for = "mygallery of mygalleries.mygalleryArray " align="center">
                            <td><a href="uploads/${user._id}/${mygallery.file.fileName}" target="_blank"><img src ="http://localhost:5000/uploads/${user._id}/${mygallery.file.fileName}" style="width:Auto; height: 150px;"></a><br>
                             </td>   
                        <td>                
                                    <i click.trigger="editPhotos(mygallery)" class="fa fa-pencil rightMargin" aria-hidden="true" align="right"></i>
                                    <i click.trigger="deletePhotos(mygallery)"class="fa fa-trash rightMargin" aria-hidden="true" align="right"></i>
                               
                                </td>  
                                </tr>
           
                </tbody>
            </table>
    </div>
    <div show.bind="!mygalleries.mygalleryArray.length">
            <br><br>
        <h2 style="text-align:center; color:black;font-family: Times New Roman;"><b>No Photos!! Would you add some</b></h2>
    </div>

</div>
</div>
</div>
        
</template>